/********** JS Mookravee **********/

@font-face {
    font-family: 'JS Mookravee';
    src: url('../../font/XJS-MookraveeItalic.eot');
    src: url('../../font/XJS-MookraveeItalic.eot?#iefix') format('embedded-opentype'),
        url('../../font/XJS-MookraveeItalic.woff2') format('woff2'),
        url('../../font/XJS-MookraveeItalic.woff') format('woff'),
        url('../../font/XJS-MookraveeItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'JS Mookravee';
    src: url('../../font/XJS-MookraveeBold.eot');
    src: url('../../font/XJS-MookraveeBold.eot?#iefix') format('embedded-opentype'),
        url('../../font/XJS-MookraveeBold.woff2') format('woff2'),
        url('../../font/XJS-MookraveeBold.woff') format('woff'),
        url('../../font/XJS-MookraveeBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JS Mookravee';
    src: url('../../font/XJS-Mookravee.eot');
    src: url('../../font/XJS-Mookravee.eot?#iefix') format('embedded-opentype'),
        url('../../font/XJS-Mookravee.woff2') format('woff2'),
        url('../../font/XJS-Mookravee.woff') format('woff'),
        url('../../font/XJS-Mookravee.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JS Mookravee';
    src: url('../../font/XJS-MookraveeBoldItalic.eot');
    src: url('../../font/XJS-MookraveeBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../font/XJS-MookraveeBoldItalic.woff2') format('woff2'),
        url('../../font/XJS-MookraveeBoldItalic.woff') format('woff'),
        url('../../font/XJS-MookraveeBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'JS Mookravee';
    src: url('../../font/JSMookraveeBoldItalic.eot');
    src: url('../../font/JSMookraveeBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../font/JSMookraveeBoldItalic.woff2') format('woff2'),
        url('../../font/JSMookraveeBoldItalic.woff') format('woff'),
        url('../../font/JSMookraveeBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'JS Mookravee';
    src: url('../../font/JSMookraveeBold.eot');
    src: url('../../font/JSMookraveeBold.eot?#iefix') format('embedded-opentype'),
        url('../../font/JSMookraveeBold.woff2') format('woff2'),
        url('../../font/JSMookraveeBold.woff') format('woff'),
        url('../../font/JSMookraveeBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JS Mookravee';
    src: url('../../font/JSMookraveeItalic.eot');
    src: url('../../font/JSMookraveeItalic.eot?#iefix') format('embedded-opentype'),
        url('../../font/JSMookraveeItalic.woff2') format('woff2'),
        url('../../font/JSMookraveeItalic.woff') format('woff'),
        url('../../font/JSMookraveeItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'JS Mookravee';
    src: url('../../font/JSMookravee-Normal.eot');
    src: url('../../font/JSMookravee-Normal.eot?#iefix') format('embedded-opentype'),
        url('../../font/JSMookravee-Normal.woff2') format('woff2'),
        url('../../font/JSMookravee-Normal.woff') format('woff'),
        url('../../font/JSMookravee-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 /********** JS Prapakorn **********/

@font-face {
    font-family: 'JS Prapakorn';
    src: url('../../font/XJS-PrapakornItalic.eot');
    src: url('../../font/XJS-PrapakornItalic.eot?#iefix') format('embedded-opentype'),
        url('../../font/XJS-PrapakornItalic.woff2') format('woff2'),
        url('../../font/XJS-PrapakornItalic.woff') format('woff'),
        url('../../font/XJS-PrapakornItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'JS Prapakorn Allcaps';
    src: url('../../font/XJS-PrapakornAllcaps.eot');
    src: url('../../font/XJS-PrapakornAllcaps.eot?#iefix') format('embedded-opentype'),
        url('../../font/XJS-PrapakornAllcaps.woff2') format('woff2'),
        url('../../font/XJS-PrapakornAllcaps.woff') format('woff'),
        url('../../font/XJS-PrapakornAllcaps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JS Prapakorn';
    src: url('../../font/XJS-Prapakorn.eot');
    src: url('../../font/XJS-Prapakorn.eot?#iefix') format('embedded-opentype'),
        url('../../font/XJS-Prapakorn.woff2') format('woff2'),
        url('../../font/XJS-Prapakorn.woff') format('woff'),
        url('../../font/XJS-Prapakorn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JS Prapakorn';
    src: url('../../font/JSPrapakorn-Italic.eot');
    src: url('../../font/JSPrapakorn-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../font/JSPrapakorn-Italic.woff2') format('woff2'),
        url('../../font/JSPrapakorn-Italic.woff') format('woff'),
        url('../../font/JSPrapakorn-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'JS Prapakorn';
    src: url('../../font/JSPrapakorn-Normal.eot');
    src: url('../../font/JSPrapakorn-Normal.eot?#iefix') format('embedded-opentype'),
        url('../../font/JSPrapakorn-Normal.woff2') format('woff2'),
        url('../../font/JSPrapakorn-Normal.woff') format('woff'),
        url('../../font/JSPrapakorn-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* JS Prapakorn fonts styles */
        .Prapakorn-0 {
            font-family: 'JS Prapakorn';
            font-weight: normal;
            font-style: italic;
        }
        .Prapakorn-1 {
            font-family: 'JS Prapakorn Allcaps';
            font-weight: normal;
            font-style: normal;
        }
        .Prapakorn-2 {
            font-family: 'JS Prapakorn';
            font-weight: normal;
            font-style: normal;
        }
        .Prapakorn-3 {
            font-family: 'JS Prapakorn';
            font-weight: normal;
            font-style: italic;
        }
        .Prapakorn-4 {
            font-family: 'JS Prapakorn';
            font-weight: normal;
            font-style: normal;
        }

/* JS Mookravee fonts styles */
        .Mookravee-0 {
            font-family: 'JS Mookravee';
            font-weight: normal;
            font-style: italic;
        }
        .Mookravee-1 {
            font-family: 'JS Mookravee';
            font-weight: bold;
            font-style: normal;
        }
        .Mookravee-2 {
            font-family: 'JS Mookravee';
            font-weight: normal;
            font-style: normal;
        }
        .Mookravee-3 {
            font-family: 'JS Mookravee';
            font-weight: bold;
            font-style: italic;
        }
        .Mookravee-4 {
            font-family: 'JS Mookravee';
            font-weight: bold;
            font-style: italic;
        }
        .Mookravee-5 {
            font-family: 'JS Mookravee';
            font-weight: bold;
            font-style: normal;
        }
        .Mookravee-6 {
            font-family: 'JS Mookravee';
            font-weight: normal;
            font-style: italic;
        }
        .Mookravee-7 {
            font-family: 'JS Mookravee';
            font-weight: normal;
            font-style: normal;
        }




* {
    box-sizing: border-box;
}

body {
    color: #4c4c4c;
    background: #fff;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    font-family: 'JS Mookravee';
            font-weight: normal;
            font-style: normal;
}
a {
    text-decoration: none;
    color: #fff;
}
ul.color555 li a {
    color:#555;
}
.text-gray {
    color: gray !important;
}
.all_new--non-border {
    border-left: none !important;
    border-right: none !important;
}
.image_news {
    display:inline-block;
   position: relative;
   width: 100%; /* for IE 6 */
   margin-bottom: 15%;
   margin-top: 5%;
}
.image_news:after{
    content:'';
    margin: 0 auto;
    top: 0;
    left: 12.6%;
    z-index: 1;
    width: 830px;
    height: 490px;
    display: block;
    position: absolute;
    background: #000;
    opacity: .7;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.image_news h2 {
   text-shadow: 3px 0px 0px rgba(0, 0, 0, 1);
   text-align: left;
   position: absolute;
   z-index: 10;
   float: left;
   top: 60%;
   left: 15%;
   width: 55%;
    padding-bottom: 50%;
}
.image_news h4 {
   text-indent: 4em;
   text-align: left;
   position: absolute;
    z-index: 10;
   float: left;
   line-height: 1.3;
   top: 77%;
   left: 15%;
   width: 55%;
    padding-bottom: 50%;
}
h1 {
    font-size: 30px;
    line-height: 1.8;
    /*text-transform: uppercase;*/


}

h4{

    position: relative;
    /*top: -50px;*/
}
h5 {
    position:relative;

}
p {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 2;
    color: black;

}

.article p {
    line-height: 1.5;
    color :gray;

}
.benefit__ul--stroke{
/*   -webkit-text-fill-color: red;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
*/
/*   -webkit-text-stroke: 1px white;
*/   color: #333;
   text-shadow:
       1px 1px 0 #fff,
     -1px -1px 0 #fff,
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;
}
.stroke{
/*   -webkit-text-fill-color: red;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
*/
/*   -webkit-text-stroke: 1px white;
*/   color: red;
   text-shadow:
       1px 1px 0 #fff,
     -1px -1px 0 #fff,
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;
}
.non_stroke {
/*   -webkit-text-fill-color: white;
   -webkit-text-stroke-width: 0px;
   -webkit-text-stroke-color: white;
*/   color: red;
   text-shadow:
       0px 0px 0 ,
      0px  0px 0 ,
      0px  0px 0 ,
       0px 0px 0 ,
       0px 0px 0 ;
}
.shadowP {
    text-shadow: 4px 0px 0px rgba(68, 68, 68, 1);
}
.video_title p{
    margin-bottom: 50px;
    margin-top: 5px;
    font-size: 20px;

}

#pager {
    width: 750px;
    padding: 0;
    height: 14px;
    z-index: 999;

}
#pager span {
    display: block;
    float: left;
    width: 5px;
    height: 5px;
    text-indent: -999em;
    background: #fff;
    border-radius: 10px; /* must be the same as width and height */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-right: 20px;

}

#pager span {
background: #777; /* optional: color when hovered */
}
.row {
    width: 100%;
    margin: 0 auto;
    position: relative;
    /*padding: 0 2%;*/
}
.container {
    /*max-width: 940px;
width: 100%;
margin: 0 auto;*/

/*    padding: 10px 2% 50px;*/
}
.main_header .nev .content {
    padding: 0;
    background: #fff;
}
/*.dark {background:#333;}*/

/*.sections {
    position: relative;
    background: url(../../img/c2_img_bg.png) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #fff;
}*/
#hero {
    position:relative;
    background: url(../../img/2_Lightsss.png) no-repeat center top scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100%;

    text-align: center;
    color: #fff;
    padding-top: 110px;
    min-height: 500px;

    letter-spacing: 2px;
    font-family: 'wp_domino_novelregular';
}
#hero h1 {
    font-size: 50px;
    line-height: 1.3;
}
#hero h1 span {
    font-size: 25px;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 12px;
    line-height: 3;
}
#hero-inseefai {
    position:relative;
    background: url(../../img/4_Light.png) no-repeat center top scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 800px;

    text-align: center;
    color: #fff;
    padding-top: 110px;
    min-height: 500px;

    letter-spacing: 2px;
    font-family: 'JS Prapakorn';
            font-weight: normal;
            font-style: normal;
}
#hero-inseefai h1 {
    font-size: 50px;
    line-height: 1.3;
}
#hero-inseefai h1 span {
    font-size: 25px;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 12px;
    line-height: 3;
}

#hero-about {
    position:relative;
    background: url(../../img/22_Light.png) no-repeat center top scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 800px;

    text-align: center;
    color: #fff;
    padding-top: 110px;
    min-height: 500px;

    letter-spacing: 2px;
/*
    font-family: 'JS Prapakorn';
            font-weight: normal;
            font-style: italic;
*/
}
#hero-about h1 {
    font-size: 50px;
    line-height: 1.3;
}
#hero-about h1 span {
    font-size: 25px;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 12px;
    line-height: 3;
}

#hero-contact {
    position:relative;
    background: url(../../img/5_Contact_us_Light.png) no-repeat center top scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 800px;

    text-align: center;
    color: #fff;
    padding-top: 110px;
    min-height: 500px;

    letter-spacing: 2px;
    font-family: 'JS Prapakorn';
            font-weight: normal;
            font-style: normal;
    font-size: 32px;
}
#hero-contact h1 {

    line-height: 1.3;
}
#hero-contact h1 span {

    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 12px;
    line-height: 3;
}

.main_header {
    position: fixed;
    top: 0px;
    /*max-height: 5.5em;*/
    height: 12em;
    z-index: 999;
    width: 100%;
    padding-top: 17px;
    background: none;
    overflow: hidden;
    transition: all 0.3s;
    opacity: 0;
    top: -100px;
    padding: 0 2%;

}
@media only screen and (max-width: 480px) {
    .main_header {
    max-height: 6.5em;
    height: 25em;
    }
}
.open-nav {
    max-height: 1400px !important;
}
.open-nav .mobile-toggle {
    transform: rotate(-90deg);
}
.sticky {
    /*background-color: rgba(255, 255, 255, 0.93);*/
    /*background: url(../img/c0_img_bg_cloud.png) no-repeat center center fixed;*/
    background: url(../../../../img/c0_img_bg_cloud.png) no-repeat center center ;
    opacity: 1;
    top: 0px;
    background-size: 100% 100%;
}
@media only screen and (max-width:480px) {
    .sticky {
    background:none;
    }
    .sticky:hover {
    background-color: rgba(255, 255, 255, 0.93);
    }
}
.sticky_scroll {
    /*background: url(../../../img/c0_img_bg_cloud.png) center;*/
    background-color: rgba(255, 255, 255, 0.93);
    /*background: url(../../../img/c0_img_bg_cloud.png) no-repeat center center fixed;*/

    opacity: 1;
    top: 0px;
    border-bottom: 1px solid silver;
}
/*.logo {
width: 100px;
font-size: 25px;
color: #8f8f8f;
text-transform: uppercase;
float: left;
display: block;
margin-top: 0;
line-height: 1;
margin-bottom: 10px;
}*/

@media only screen and (max-width: 768px) {
    .logo {
        float: none;
    }
}
nav {
    float: right;
    margin-right: 10%;
    /*width: 60%;*/
}
@media only screen and (max-width: 480px) {
    nav {
        width: 100%;
    }
}
nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
}
@media only screen and (min-width:480px) and (max-width:800px) {
    nav ul {
        display: none;
    }
    a.logo {
        display: none;
    }
    .nav--img__language {
        display: none;
    }
    .logo--800 {
        float:none;
        position: relative;
        margin: 0 auto;
        text-align: center;
    }
    .logo--800 ul {
        list-style: none;
        /*display: inline;*/

    }
    .logo--800 ul li {
        display: inline-block;
        margin-left: 5%;
        line-height: 1.5;
    }
    .logo--800 ul li a {
        color: #4c4c4c;
    }
    .logo--800 ul li a:hover {
        background: #e91c28;
        color: #f2f2f2;
        text-decoration: none;
        padding: 0px 5px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
    }
    .nav--img__language--800 {
        text-align: center;
    }
}
@media only screen and (min-width:800px) {
    .logo--800 {
        display: none;
    }
    .nav--img__language--800 {
        display: none;
    }
}

.nav--img__language img{margin: 0 3px;}
footer {
    text-align: center;
}
.footer {
  padding-bottom: 25px;
}
.panel-body {
    background: #f2f2f2;
}
footer a {
    font-size: 18px;
    color: #4c4c4c;
}
li a.active {
  text-decoration: none;
  background-color: #e91c28;
  color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
footer a.active {
  text-decoration: none;
  background-color: #e91c28;
  color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

footer a:hover {
    text-decoration: none;
    background-color: #e91c28;
    color: #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.benefit--ul_hover a:hover {
    text-decoration: none;
    background:#F5CB25;
    color: #e91c28;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 10px;
}
.footer-bottom {
    font-size: 30px;
    height: auto;
    background: url('../../img/Bottom.png') #e91c28 no-repeat center fixed;
    box-shadow: inset 0 8px 12px -8px #000000;
    -webkit-box-shadow: inset 0 8px 12px -8px #000000;
    -moz-box-shadow: inset 0 8px 12px -8px #000000;
}
@media only screen and (max-width: 768) {
    footer ul li {
        display: block;
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    nav ul {
        padding-top: 10px;
        margin-bottom: 22px;
        float: left;
        text-align: center;
        width: 100%;
    }
}
nav ul li {
    display: inline-block;
    margin-left: 35px;
    line-height: 1.5;
}
/*nav ul li {
display: inline-block;
margin-left: 35px;
line-height: 1.5;
}*/

@media only screen and (max-width: 480px) {
    nav ul li {
        width: 100%;
        padding: 7px 0;
        margin: 0;
    }
}
nav ul a {
    color: #fff;
    padding: 0 10px;
/*    #4c4c4c*/
    /*text-transform: uppercase;*/
    /*font-size: 12px;*/

    /*border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;*/
    /*transition: all 500ms linear;*/
}
nav a:hover {
    text-decoration: none !important;
    background-color: #e91c28 !important;
    color: #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 5%;
    width: 30px;
    transition: all 200ms ease-in;
}
@media only screen and (max-width: 480px) {
    .mobile-toggle {
        display: block;
    }
}
.mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: #8f8f8f;
    display: block;
}
@keyframes scroll {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}
.scroll2top img {
    position: fixed;
    bottom: 10px;
    right: 2%;
    z-index: 100;
}
@media only screen and (max-width: 768px) {
    .scroll2top img {
        right: 12%;
    }
}

.c3_img_main_image {
    height:450px;
}

@media only screen and (max-width: 480px) {
    .c3_img_main_image{
      display: none;
    }
}

@media only screen and (max-width: 480px) {
    .benefit_ul{
      display: none;
    }
}
@media only screen and (max-width: 768px) {
    .benefit_ul{
      display: none;
    }
}


@media only screen and (max-width: 480px) {
    .benefit_h1{
      text-align: left;
    }
}

.benefit_top {
  top:10em;
}

.benefit_top--img {
  margin-bottom: 20%;
}
.benefit_margin-top {
  margin-top: 20%;
}

@media only screen and (max-width:480px) {
  .benefit_top {
    top:0;
  }
}
@media only screen and (min-width:480px ) and (max-width:768px) {
  .benefit_top {
    top:-500px;
  }
}

/* animated */

.animated {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
.animated img {
    height: 300px;
    position: relative;
    z-index: 100;
}
@media only screen and (max-width: 480px) {
    .animated img {
        /*height: 200px;*/
        display: none;
    }
}

/* non_animated */

.non_animated img {
    /*height: 300px;*/
    display: none;
}
@media only screen and (max-width: 480px) {
    .non_animated img {
        height: 200px;
        display: block;
        margin: 0 auto;
    }
}


@-webkit-keyframes bottle {
    0%, 100% {
        -webkit-transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateY(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateY(10px);
    }
}
@keyframes bottle {
    0%, 100% {
        transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateY(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateY(10px);
    }
}
.bottle {
    -webkit-animation-name: bottle;
    animation-name: bottle;
}

.can01_title {
    margin:100px auto;

    width: 680px;
}
@media only screen and (max-width:480px) {
    .can01_title {
        display: none;
    }
}

.can01_title--480 {
    display: none;
    position: relative;
    bottom: 50px;
}
@media only screen and (max-width:480px) {
    .can01_title--480 {
        display: block;
        margin: 0 auto;
    }
}
/*
 * Cover
 */

.footer_cover {
    font-size: 1em;
    /*padding: 0 20px;*/

    text-align: center;
    /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}
.lead {
    font-size: 0.9em;
}
section {
    height: 100%;
}
/*------envelope-------*/

#envelope {

    position: relative;
    height: auto;
    /*padding: 12px;
    margin-bottom: 6px;*/
    background: url(../../img/Lightss_no_shadow.png) no-repeat top center scroll;
    background-size: 100% auto;
}
/*#envelope:after {}​ .wrapper {
    max-width: 400px;
    margin: 50px auto;
    padding-left: 1em;
    padding-right: 1em;
}*/
.border-tlr-radius {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.text-center {
    text-align: center;
}
.radius {
    border-radius: 2px;
}
.padding-tb {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}
.shadowDepth0 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
.shadowDepth1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.article {
    background-color: #fff;
    margin-bottom: 1.6rem;
}
.article__padding {
    padding: 1.6rem;
}
.article__image {
    min-height: 100px;
    max-height: 100%;
    background-color: #eee;
}
.article__image img {
    width: 100%;
    max-width: 100%;
    display: block;
}
/* article */

.article a {
    text-decoration: none;
    color: #444;
    transition: all 0.5s ease;
}
.article a:hover {
    color: #2980b9;
}
.col-sm-6 a:hover {
    line-height: 5px;
}
.b6 {
    position: absolute;
    overflow: hidden;
    z-index: 2;
    left: 50%;
    padding: 25px 20px;
    width: 280px;
    height: 200px;
    border-radius: 10px;
    /*background: rgba(0, 0, 0, 0.3);
    opacity: 1.0;
    filter: alpha(opacity=100);*/

        /* IE10+ */
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #BFBFBF 90%, #ABABAB 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #BFBFBF 90%, #ABABAB 100%);

    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #BFBFBF 90%, #ABABAB 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(90, #BFBFBF), color-stop(100, #ABABAB));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #BFBFBF 90%, #ABABAB 100%);

    /* W3C Markup */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #BFBFBF 90%, #ABABAB 100%);
}
.b6 p {

    font-size: 1.3em;
    line-height: 1;
    color: #4c4c4c;
}
@media only screen and (max-width:768px) {
  .b6 {
    display: none;
  }
}

@media only screen and (min-width:768px) {
  .b6_480 h4.benefit--h4 ,h5.benefit--h5{
    display: none;
  }
}

@media only screen and (min-width:768px) {
  .b6_480 img{
    display: none;
  }
}


@media only screen and (max-width:480px;) {
  .b6_480 img {
    display: block;
    margin: 1000px;
  }
}

@media only screen and (min-width:480px) {
    .product_benefit--img--480 {
        display: none;
    }
}

@media only screen and (max-width:480px) {

  .none_padding {
    padding: 0;
  }

}

.b7 {
    position: absolute;
    overflow: hidden;

    z-index: 2;
    right: 0%;
    padding: 20px 20px;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    /*background: rgba(0, 0, 0, 0.3);
    opacity: 1.0;
    filter: alpha(opacity=100);*/

            /* IE10+ */
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #BFBFBF 90%, #ABABAB 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #BFBFBF 90%, #ABABAB 100%);

    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #BFBFBF 90%, #ABABAB 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(90, #BFBFBF), color-stop(100, #ABABAB));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #BFBFBF 90%, #ABABAB 100%);

    /* W3C Markup */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #BFBFBF 90%, #ABABAB 100%);

}
@media only screen and (max-width:768px) {
  .b7 {
    display: none;
  }
}
.who--480 {
    display: none;
}
@media only screen and (max-width:480px) {
    .who--480 {
        display: block;
    }
}

@media only screen and (max-width:480px) {
    .who--480--margin {
      margin-top: 30em;
    }
}
/*--about.php--*/

.about_sq {
    position: relative;
    overflow: scroll;
    z-index: 0;
    padding: 20px 20px;
    margin: 0px 50px;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 300px;
    border-radius: 10px;
    opacity: 1.0;
    filter: alpha(opacity=100);
}
.about_who {
    position: relative;
    overflow: scroll;
    z-index: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 150px;
    border-radius: 10px;
    opacity: 1.0;
    filter: alpha(opacity=100);
}
.about_product {
    position: relative;
    /*overflow: scroll;*/
    z-index: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 60%;
    margin: 0 auto;
    margin-bottom: 100px;
    /*height: 20%;*/
    max-height: 100px;
    border-radius: 10px;
/*    opacity: 1.0;
    filter: alpha(opacity=100);*/
    z-index: 1;
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
/*    opacity: .5;
*/}
.aboutproduct {
    position: relative;
    /*overflow: scroll;*/
    z-index: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 60%;
    margin: 0 auto;
    margin-bottom: 100px;
    /*height: 20%;*/
    max-height: 155px;
    border-radius: 10px;
/*    opacity: 1.0;
    filter: alpha(opacity=100);*/
    z-index: 1;
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
/*    opacity: .5;
*/}
.about--to_left {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}

.about_who p {
    text-align: left;
    line-height: 1;
    padding: 10px;
    line-height: 1;
    color: #fff;
}
@media only screen and (max-width: 768px) {
    .about_sq {
        padding: 0px 0px;
        margin: 0px 0px;
        width: 100%;
        height: 300px;
    }
}
.about_sq p {
    text-align: left;
    line-height: 1;
    padding: 10px;
    color:#fff ;
}
/*--inseefai--*/

@media only screen and (max-width: 768px) {
    section.inseefai img {
        margin: 20px 0;
    }
}
.div_right {
    text-align: right;
    right: 70px;
    top:100px;
}
@media only screen and (max-width:480px) {
    .div_right{
        display: none;
    }
}
.div_left {
    text-align: left;
    left: 70px;
    top:100px;
}
@media only screen and (max-width:480px) {
    .div_left{
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .div_right {
        text-align: center;
    }
    .div_left {
        text-align: center;
    }
}
.div_480 {
    display: none;
}
@media only screen and (max-width:480px) {
    .div_480 {
        display: block;
        top: 100px;
    }
}
/*--content_list.php--*/

#content_list {
    padding-top: 110px;
}
.content_list--padding {
    padding: 0px;
}
.content_list--padding p {
    color: red;
    font-size: 1.5em;
    padding: 10px;
}

.product__content {

    position: absolute;
    overflow: hidden;
    max-height:100%;
    /*background: red;*/
}
@media only screen and (max-width:480px) {
    .product__content {
        display: none;
    }
}
.product__content--480 {
    display: none;
}
@media only screen and (max-width:480px) {
    .product__content--480 {
        display: block;
    }
}
.product__content--max_height{max-height: 100%;}
.product__content--margin {margin:50em auto;}
@media only screen and (max-width:480px) {
    .product__content--margin{
        margin:0 auto;
    }
}

.contact--h1{
  text-align:center;
  color:#fff;
  margin-bottom:8em;
}





/*------------------------*
Video
*-------------------------*/
.vid-container {
    margin-top: 5%;
	position: relative;
	padding-bottom: 40%;
	/*padding-top: 30px;*/
	height: 0;
}

.vid-container iframe,
.vid-container object,
.vid-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.vid-list-container {
	width: 92%;
	overflow: hidden;
	margin-top: 20px;
	margin-left:4%;
	padding-bottom: 20px;
}

.vid-list {
	width: 1344px;
	position: relative;
	top:0;
	left: 0;
}
.vid-item {
	/*display: block;*/
	/*width: 148px;*/
	height: 100%;
	/*float: left;*/
	margin: 0;
	/*padding: 10px;*/
}
.vid-item-list{
  display: block;
	width: 148px;
	height: 148px;
	float: left;
	margin: 0;
	padding: 10px;
}

.thumb {
	overflow:hidden;
	/*height: 100%;*/
}

.thumb img {
	width: 100%;
	position: relative;
	top: -13px;
}

.vid-item .desc  {
	color: #21A1D2;
	font-size: 15px;
	margin-top:5px;
}
